params {

    config_profile_name        = 'ChromoSeq for blood cancers'
    config_profile_description = 'ChromoSeq tumor-only WGS assay with inputs for hematologic malignancies'

    chromoseq_inputs.gene_bed = "$projectDir/assets/blood_cancer_files/chromoseq_genes.bed.gz"
    chromoseq_inputs.gene_bed_index = "$projectDir/assets/blood_cancer_files/chromoseq_genes.bed.gz.tbi"
    chromoseq_inputs.sv_bed = "$projectDir/assets/blood_cancer_files/chromoseq_sv_genes.bed.gz"
    chromoseq_inputs.sv_bed_index = "$projectDir/assets/blood_cancer_files/chromoseq_sv_genes.bed.gz.tbi"
    chromoseq_inputs.sv_targets = "$projectDir/assets/blood_cancer_files/chromoseq_recurrent_sv.txt"
    chromoseq_inputs.hotspots = "$projectDir/assets/blood_cancer_files/chromoseq_hotspot.vcf.gz"
    chromoseq_inputs.hotspots_index = "$projectDir/assets/blood_cancer_files/chromoseq_hotspot.vcf.gz.tbi"
    chromoseq_inputs.custom_annotation_vcf = "$projectDir/assets/blood_cancer_files/chromoseq_custom_annotations.vcf.gz"
    chromoseq_inputs.custom_annotation_index = "$projectDir/assets/blood_cancer_files/chromoseq_custom_annotations.vcf.gz.tbi"
    chromoseq_inputs.assay_specifications = "$projectDir/assets/blood_cancer_files/ChromoSeq.QCMetrics.json"

}
