params {

    config_profile_name        = 'ChromoSeq for blood cancers'
    config_profile_description = 'ChromoSeq tumor-only WGS assay with inputs for hematologic malignancies'

    chromoseq_inputs {
        gene_bed = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_genes.bed.gz"
        gene_bed_index = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_genes.bed.gz.tbi"
        sv_bed = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_sv_genes.bed.gz"
        sv_bed_index = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_sv_genes.bed.gz.tbi"
        sv_targets = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_recurrent_sv.txt"
        hotspots = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_hotspot.vcf.gz"
        hotspots_index = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_hotspot.vcf.gz.tbi"
        custom_annotation_vcf = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_custom_annotations.vcf.gz"
        custom_annotation_index = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/chromoseq_custom_annotations.vcf.gz.tbi"
        assay_specifications = "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/assets/blood_cancer_files/ChromoSeq.QCMetrics.json"
    }
}