params {

    config_profile_name        = 'ChromoSeq for solid tumors'
    config_profile_description = 'ChromoSeq tumor-only WGS assay with inputs for solid tumors'

    chromoseq_inputs {
        gene_bed = "$projectDir/assets/solid_tumor_files/chromoseq_genes.bed.gz"
        gene_bed_index = "$projectDir/assets/solid_tumor_files/chromoseq_genes.bed.gz.tbi"
        sv_bed = "$projectDir/assets/solid_tumor_files/chromoseq_sv_genes.bed.gz"
        sv_bed_index = "$projectDir/assets/solid_tumor_files/chromoseq_sv_genes.bed.gz.tbi"
        sv_targets = "$projectDir/assets/solid_tumor_files/chromoseq_recurrent_sv.txt"
        hotspots = "$projectDir/assets/solid_tumor_files/chromoseq_hotspot.vcf.gz"
        hotspots_index = "$projectDir/assets/solid_tumor_files/chromoseq_hotspot.vcf.gz.tbi"
        custom_annotation_vcf = "$projectDir/assets/solid_tumor_files/chromoseq_custom_annotations.vcf.gz"
        custom_annotation_index = "$projectDir/assets/solid_tumor_files/chromoseq_custom_annotations.vcf.gz.tbi"
        assay_specifications = "$projectDir/assets/solid_tumor_files/ChromoSeq.QCMetrics.json"
    }
}
