params {
    "ChromoseqAnalysis.DragenDir": "",
    "ChromoseqAnalysis.Name": "",
    "ChromoseqAnalysis.Gender": "",
    "ChromoseqAnalysis.DOB": "",
    "ChromoseqAnalysis.Exception": "",
    "ChromoseqAnalysis.RunInfoString": "",
    "ChromoseqAnalysis.OutputDir": "",
    "ChromoseqAnalysis.GeneBed":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_genes.bed.gz",
    "ChromoseqAnalysis.GeneBedIndex":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_genes.bed.gz.tbi",
    "ChromoseqAnalysis.SvBed":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_sv_genes.bed.gz",
    "ChromoseqAnalysis.SvBedIndex":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_sv_genes.bed.gz.tbi",
    "ChromoseqAnalysis.SvTargets":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_recurrent_sv.txt",
    "ChromoseqAnalysis.CustomAnnotationVcf":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_custom_annotations.vcf.gz",
    "ChromoseqAnalysis.CustomAnnotationIndex":"/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/solid_tumor_files/chromoseq_custom_annotations.vcf.gz.tbi",
    "ChromoseqAnalysis.CustomAnnotationParameters":"CHROMOSEQ,vcf,exact,0,DB,BLACKLIST",
    "ChromoseqAnalysis.Reference": "/storage1/fs1/duncavagee/Active/SEQ/Chromoseq/process/refdata/hg38/all_sequences.fa",
    "ChromoseqAnalysis.ReferenceDict": "/storage1/fs1/duncavagee/Active/SEQ/Chromoseq/process/refdata/hg38/all_sequences.dict",
    "ChromoseqAnalysis.ReferenceIndex": "/storage1/fs1/duncavagee/Active/SEQ/Chromoseq/process/refdata/hg38/all_sequences.fa.fai",
    "ChromoseqAnalysis.ReferenceBED": "/storage1/fs1/dspencer/Active/spencerlab/dhs/git/cle-chromoseq-2/accessory_files/all_sequences.fa.bed.gz",
    "ChromoseqAnalysis.VEP": "/storage1/fs1/gtac-mgi/Active/CLE/reference/VEP_cache",
    "ChromoseqAnalysis.MinSvLength":5000,
    "ChromoseqAnalysis.MaxSvLength":10000000,
    "ChromoseqAnalysis.MinSvReads":2,
    "ChromoseqAnalysis.CnaBinSize":500000,
    "ChromoseqAnalysis.MinCnaSize":5000000,
    "ChromoseqAnalysis.MinCnaAbund":10.0,
    "ChromoseqAnalysis.JobGroup": "/cle/wdl/chromoseq",
    "ChromoseqAnalysis.Queue": "dspencer"
}